body {
  font-family: 'Montserrat', Arial, sans-serif;
  width: 300px;
  padding: 15px;
}


h1 {
  font-size: 22px;
  line-height: 1;
}

input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #DDD;
}

button {
  width: 100%;
  background: #0c66c2;
  padding: 8px 12px;
  border-radius: 100px;
  color: #fff;
  border: 2px solid #0c66c2;
  cursor: pointer;
  transition: background 500ms;
  font-weight: 600;
}
button:hover {
  color: #fff;
  background: #004181;
  border-color: #004181;
  transform: scale(1.05);
}

button#save-settings {
  background: #fff;
  color: #0c66c2;
}
button#save-settings:hover {
  color: #004181;
}


#settings-form div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}
#settings-form div label {
  width: 50%;
  font-weight: 600;
}

#settings-form div input {
  flex-grow: 1;
}


#status {
  margin: 10px 0;
  font-weight: 600;
}
#status.success {
  color: green;
}
#status.error {
  color: red;
}
